<footer>
  <br />
  <br />
  <p>
    POKEMON<br />
    Gotta Catch 'Em All
  </p>
  <br>
  <div class="social-icons">
    <a href="https://github.com/Maica08" target="_blank" class="icon-link">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://facebook.com/jamaica.magbanua.1/" target="_blank" class="icon-link">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://twitter.com/chimmyjew" target="_blank" class="icon-link">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
  <p>
    &copy; 2023 YourWebisteName. All Rights Reserved.
  </p>
</footer>